@model Incident
@{
    ViewData["Title"] = "Delete Incident";
}

<h1>Delete Incident</h1>

<p>Delete this Incident?</p>

<p>Sample Incident</p>

<form asp-action="Delete" method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Incident" asp-action="Incident" class="btn btn-primary">Cancel</a>
</form>
