@model Incident
@{
    ViewData["Title"] = "Delete Incident";
}

<div class="pt-4">
    <h1 class="pb-3">Delete Incident</h1>

    <p>Delete this Incident?</p>

    <p>Sample Incident</p>
</div>

<div class="pt-3">
    <form asp-action="Delete" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-controller="Incident" asp-action="Incident" class="btn btn-secondary">Cancel</a>
    </form>
</div>
