@{
    ViewData["Title"] = "Registrations";
}

<div class="pt-4">
  <h2 class="pb-2">Manage Registrations</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Customer</th>
        <th scope="col">Product</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>

    </thead>
    <tbody>
      <tr>
        <td>filler</td>
        <td>filler</td>
        <td><a type="button" class="btn btn-warning" asp-area="" asp-controller="Registration" asp-action="Edit">Edit</a></td>
        <td><a type="button" class="btn btn-danger" asp-area="" asp-controller="Registration" asp-action="Delete">Delete</a></td>
      </tr>
    </tbody>
  </table>
  <a type="button" class="btn btn-info" asp-area="" asp-controller="Registration" asp-action="Add">Register Customer</a>
</div>