@model IEnumerable<Registration>
@{
  ViewData["Title"] = "Registrations";
}

<div class="pt-4">
  <h2 class="pb-2">Manage Registrations</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Customer</th>
        <th scope="col">Product</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>

    </thead>
    <tbody>
      @foreach(Registration r in Model)
      {

        bool borked = false;
        Customer c = ViewBag.Customers.Find(r.CustomerId);
        Product p = ViewBag.Products.Find(r.ProductId);
        <tr>
          @if(c != null)
          {
            <td>@String.Format("{0} {1}", c.FirstName, c.LastName)</td>
          }
          else
          {
            borked = true;
          }

          @if(p != null)
          {
            <td>@p.Name</td>
          }
          else
          {
            borked = true;
          }
          @if(!borked)
          {
            <td><a type="button" class="btn btn-warning" asp-area="" asp-controller="Registration" asp-action="Edit" asp-route-id="@r.Id">Edit</a></td>
          }
          else
          {
            <td></td>
          }
          <td><a type="button" class="btn btn-danger" asp-area="" asp-controller="Registration" asp-action="Delete" asp-route-id="@r.Id">Delete</a></td>
        </tr>
      }
    </tbody>
  </table>
  @if(ViewBag.CustomerCount > 0 && ViewBag.ProductCount > 0)
  {
    <a type="button" class="btn btn-info" asp-area="" asp-controller="Registration" asp-action="Add">Register Customer</a>
  }
</div>