@model Product
@{
    ViewData["Title"] = "Delete Customer";
}

<div class="pt-4">
    <h1 class="pb-3">Delete Customer</h1>

    <p>Delete this Customer?</p>

    <p>Sample Customer</p>
</div>

<div class="pt-3">
    <form asp-action="Delete" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-controller="Customer" asp-action="Customer" class="btn btn-secondary">Cancel</a>
    </form>
</div>

