@{
    ViewData["Title"] = "About";
}

<div class="pt-4">
    <h2 class="display-4 pb-2">About Us</h2>
    <p class="lead">
        We lyke sport.
        <br />
        <br />
        COMP 2139 - Web Application Development Group Assignment 1 (Evert Ortiz, Jun Yan Gan, Anthony Giugni, Nicole Tosello, Jonathan Portella)
    </p>
</div>