@{
    ViewData["Title"] = "About";
}

<div class="container p-3 my-3 bg-secondary text-white rounded border border-0" style="height: 380px">
    <div class="pl-4 pr-4" style="margin-top:80px">
        <h2 class="display-4 pb-2">About</h2>
        <p class="lead">
            Caeruleum SportsPro Technical Support constantly strives to provide the highest level of technical support for all products of the Caeruleum SportsPro family.
        </p>
    </div>
</div>