@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 pt-4">Caeruleum Technical Support</h1>
    <p class="text-muted pt-3">Sports management software for the sports enthusiast</p>
</div>
