@model Product
@{
  ViewData["Title"] = "Delete Product";
}

<div class="pt-4">
    <h1 class="pb-3">Delete Product</h1>

    <p>Delete this Product?</p>

    <p>Sample Product</p>
</div>

<div class="pt-3">
    <form asp-action="Delete" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-controller="Product" asp-action="Product" class="btn btn-secondary">Cancel</a>
    </form>
</div>
