@{
    ViewData["Title"] = "Products";
}

<div class="pt-4">
    <h2 class="pb-2">Manage Products</h2>
    <table class="table table-bordered">
        <thead>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Release Date</th>
            <th></th>
            <th scope="col"></th>
        </thead>
        <tbody>
            <td>filler</td>
            <td>filler</td>
            <td>filler</td>
            <td>filler</td>
            <td><a asp-area="" asp-controller="Product" asp-action="Edit"><button type="button" class="btn btn-secondary">Edit</button></a></td>
            <td><a asp-area="" asp-controller="Product" asp-action="Delete"><button type="button" class="btn btn-danger">Delete</button></a></td>
        </tbody>
    </table>
    <a asp-area="" asp-controller="Product" asp-action="Add"><button type="button" class="btn btn-info">Add Product</button></a>
</div>